## ДЗ 8

На сайте запущен А/В тест с целью увеличить доход. В приложенном excel файле вы найдете сырые данные по результатам эксперимента – user_id, тип выборки variant_name и доход принесенный пользователем revenue.
Проанализируйте результаты эксперимента и напишите свои рекомендации менеджеру.

In [1]:
from scipy.stats import mannwhitneyu
import pandas as pd

In [2]:
df = pd.read_excel('AB_Test_Results.xlsx', sheet_name = 'AB Test Results')
df.head()

C:\Anaconda\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

   USER_ID VARIANT_NAME  REVENUE
0      737      variant      0.0
1     2423      control      0.0
2     9411      control      0.0
3     7311      control      0.0
4     6174      variant      0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   USER_ID       10000 non-null  int64
 1   VARIANT_NAME  10000 non-null  object
 2   REVENUE       10000 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 195.4+ KB

In [4]:
df.describe()

            USER_ID       REVENUE
count  10000.000000  10000.000000
mean    4981.080200      0.099447
std     2890.590115      2.318529
min        2.000000      0.000000
25%     2468.750000      0.000000
50%     4962.000000      0.000000
75%     7511.500000      0.000000
max    10000.000000    196.010000

In [5]:
df.groupby('VARIANT_NAME')['REVENUE'].describe()

               count      mean       std  min  25%  50%  75%     max
VARIANT_NAME
control       4984.0  0.129013  3.007524  0.0  0.0  0.0  0.0  196.01
variant       5016.0  0.070070  1.314802  0.0  0.0  0.0  0.0   58.63

In [6]:
mw = mannwhitneyu(x = df[(df['VARIANT_NAME'] == 'control') & (df['REVENUE'] > 0)]['REVENUE'].values, y = df[(df['VARIANT_NAME'] == 'variant') & (df['REVENUE'] > 0)]['REVENUE'].values)
mw

MannwhitneyuResult(statistic=3356.0, pvalue=0.07924299810603061)

Поскольку pvalue > 0.05, то нулевая гипотеза не отвергается, то есть статистически значимых различий в выручке нет.
Таким образом, не имеет смысла внедрять изменения.